<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Bet Tracker</h1>
        <div class="cta-buttons">
            <a href="/bets/new" class="button">New Bet</a>
            <a href="/bets" class="button">Bet Log</a>
        </div>
    </div>
</body>
</html>